body{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    margin: 0px;
    padding:0px;
    background: url("gym6.jpg");
    background-size: 100%;
    color: white;
}
.left{
    display: inline-block;
    position: absolute;
    left: 36px;
    top: 30px;
    text-align: center;
    font-size: 18px;
    background-color: rgb(8, 8, 8);
    border-radius: 10px;
    height: 95px;
    
}
.left img{
    filter: invert();
    width: 125px;
    border-radius: 10px;
    height: 60px;
    margin-bottom: -7px;
}
.mid{
    display: block;
    width: 70%;
    margin: 37px auto;
    margin-left: 400px;
    
}
.right{
    position: absolute;
    right: 55px;
    top: 45px;
    display: inline-block;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    color: white;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(165, 164, 164);
}
.btn{
    margin: 10px 9px;
    background-color: black;
    color: white;
    padding: 3px 13px;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(31, 30, 30);
}
.container{
    border: 2px solid white;
    margin: 55px 100px;
    padding: 25px;
    width: 42%;
    border-radius: 25px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 370px;
    padding: 5px;
    border: 2px solid black;
    margin: 4px auto;
    border-radius: 8px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: bold;
    font-size: 17px;

}
.container h1{
    text-align: center;
    
}
.container button{
    display: block;
    width: 60%;
    margin: 10px auto;
    font-size: 17px;
}
